* {
  margin: 0;

  box-sizing: border-box;

  padding: 0;
}

body {
  background-color: rgb(215, 187, 86);

  position: relative;
}

.container {
  max-width: 900px;

  margin: auto;

  height: 100vh;

  border: ;
}

.ist-section {
  position: sticky;

  top: 0px;

  z-index: 2;

  display: flex;

  justify-content: space-between;

  align-items: center;

  margin: 10px;

  height: 50px;

  max-height: 90px;

  /* background-color: rgb(176, 165, 195); */

  border-radius: 10px 0px;
}

.ist-section input {
  border-radius: 7px;

  width: 100%;

  max-width: 700px;

  margin: 0px 10px;

  height: 50px;
font-size: larger;
font-weight: 700;
  padding: 5px;

  border: 1px solid rgb(97, 179, 179);
}

.ist-section button {
  margin-left: px;

  padding: 0px 60px;

  height: 60px;

  width: ;

  border: none;

  background-color: #dba800;

  font-size: larger;

  font-family: Courier new, monospace;

  font-weight: 800;

  font-size: 35px;

  border-radius: 10px 0px;

  border: 5px solid rgb(200, 200, 200);
}

.ist-section input:focus {
  border: 1px solid orange;

  outline: none;

  outline-radius: 5px;
}

.ist-section button:active {
  background-color: rgb(200, 200, 200);
}

.Mylist {
  color: white;

  font-size: 18px;

  margin: 10px;
}

.second-section {
  margin: 50px 0px;
}

li {
  position: relative;

  color: red;

  margin-bottom: 25px;

  list-style-type: ;

  height: px;

  padding: 10px;

  font-family: Courier new, monospace;

  margin-left: 28px;
  font-size: larger;
  font-weight: 800;
}

li:active {
  background-color: darkturquoise;
}

li:hover {
  background-color: rgb(53, 50, 47);

  text-decoration: underline;
}

.icon {
  position: absolute;

  right: 0px;

  top: 0px;

  bottom: 0px;

  background-color: rgb(114, 3, 3);

  font-family: Courier new, monospace;

  padding: 10px 7px;

  font-size: 20px;

  color: rgb(255, 249, 236);
}

.icon:hover {
  cursor: pointer;
}

.header {
  color: white;

  margin: 10px 5px;

  text-align: center;

  font-family: Courier new, monospace;

  font-size: 28px;
}

.popup {
  z-index: 6;

  background: ;

  opacity: ;

  display: none;

  align-items: center;

  justify-content: center;

  position: absolute;

  left: 0px;

  top: 0px;

  bottom: 0px;

  right: 0px;
}

.box {
  color: white;

  background-color: teal;

  height: 290px;

  width: 90%;

  margin: auto;

  max-width: 700px;

  position: relative;
}

.box h2 {
  margin-top: px;
}

.box p {
  margin: 15px 40px;

  font-size: 16px;

  font-family: Verdana, Arial, sans-serif;

  line-height: 1.8em;

  white-space: normal;

  letter-spacing: 0.1em;

  word-spacing: 0.2em;
}

.box button {
  padding: 15px 40px;

  position: absolute;

  bottom: 25px;

  right: 25px;

  font-size: 20px;

  background-color: teal;

  color: white;

  border: none;

  box-shadow: 0px 0px 3px 3px rgb(80, 80, 80);
}

.box button:active {
  background-color: #fff;
}

fieldset {
  margin: 10px 10px;
}
